@charset "utf-8";
@font-face {
    font-family: 'robotolight';
    src: url('../fonts/roboto-light-webfont.woff2') format('woff2'),
    url('../fonts/roboto-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotomedium';
    src: url('../fonts/roboto-medium-webfont.woff2') format('woff2'),
    url('../fonts/roboto-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotoregular';
    src: url('../fonts/roboto-regular-webfont.woff2') format('woff2'),
    url('../fonts/roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/fontawesome-webfont.eot?v=4.7.0');
    src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'),
    url('../fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'),
    url('../fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'),
    url('../fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'),
    url('../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Panton';
    font-style: normal;
    font-weight: normal;
    src: local('Panton'), url('../fonts/Panton-Regular.woff') format('woff');
}

*, *:before, *:after { /* Chrome 9-, Safari 5-, iOS 4.2-, Android 3-, Blackberry 7- */
    -webkit-box-sizing: border-box; /* Firefox (desktop or Android) 28- */
    -moz-box-sizing: border-box; /* Firefox 29+, IE 8+, Chrome 10+, Safari 5.1+, Opera 9.5+, iOS 5+, Opera Mini Anything, Blackberry 10+, Android 4+ */
    box-sizing: border-box;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Muli';
    font-size: 14px;
    letter-spacing: 0.6px;
}

img {
    border: 0px;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
    outline: none;
}

a:focus, a:active, a:visited {
    outline: none;
    border: 0px;
}

h1 {
}

h2 {
}

h3 {
}

h4 {
}

p {
}

.border-none {
    border: none !important;
}

.bg-none {
    background: none !important;
}

.margint-none {
    margin-top: 0px !important;
}

.marginr-none {
    margin-right: 0px !important;
}

.marginb-none {
    margin-bottom: 0px !important;
}

.marginl-none {
    margin-left: 0px !important;
}

.paddingt-none {
    padding-top: 0px !important;
}

.paddingr-none {
    padding-right: 0px !important;
}

.paddingb-none {
    padding-bottom: 0px !important;
}

.paddingl-none {
    padding-left: 0px !important;
}

.padding-none {
    padding: 0px !important;
}

.fleft {
    float: left !important;
}

.fright {
    float: right !important;
}

.margint-10px {
    margin-top: 10px !important;
}

.navbar-default ul.nav li {
    margin: 0px 4px;
}

.navbar-default ul.nav li a {
    color: #424242;
    font: 18px/54px 'robotoregular';
}

.navbar-default ul.nav li a:HOVER,
.navbar-default ul.nav li a.active {
    color: #19478e;
}

#term {
    color: #424242;
    text-align: center;
    margin-top: 25px;
}

#results {
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 30px;
}

.result {
    text-align: left;
    border-left: 5px solid #424242;
    margin-bottom: 8px;
    background-color: white;
    padding: 15px;
}

.result:hover {
    border-left: 5px solid #424242;
}

input#field:focus + .close span {
    top: 12px;
    right: 5px;
}

input#field:focus + .close span.back {
    -webkit-transition: .5s .7s ease-in-out;
    -moz-transition: .5s .7s ease-in-out;
    -o-transition: .5s .7s ease-in-out;
    transition: .5s .7s ease-in-out;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    opacity: 1;
}

::-webkit-input-placeholder {
    color: #424242;
}

:-ms-input-placeholder {
    color: #424242;
}

::-moz-placeholder {
    color: #424242;
    opacity: 1;
}

:-moz-placeholder {
    color: #424242;
    opacity: 1;
}

button.faculty-btn {
    padding: 16px 20px;
    background: #19478e;
    font: 16px/20px 'robotoregular';
    border: 0px;
    border-radius: 1px;
    text-transform: uppercase;
}

button.contractor-btn {
    margin-left: 10px;
    padding: 16px 20px;
    background: #424242;
    font: 16px/20px 'robotoregular';
    border: 0px;
    border-radius: 1px;
    text-transform: uppercase;
}

h1.heading {
    margin: 0px 0px 22px 0px;
    font: 55px/60px 'robotolight';
    color: #424242;
    text-align: center;
}

.welcome-block {
    margin: 75px 0px;
    text-align: center;
}

.welcome-block p {
    margin: 0px;
    font: 18px/22px 'robotolight';
    color: #424242;
}

.work-block {
    margin-bottom: 95px;
    text-align: center;
}

.work-block img {
    margin: 0px auto;
    text-align: center;
}

.work-block h6 {
    margin: 25px 0px 15px 0px;
    font: 42px/46px 'robotolight';
    color: #424242;
}

.work-block p {
    font: 18px/22px 'robotolight';
    color: #424242;
}

.work-block a {
    margin: 28px 0px 0px 0px;
    padding: 12px 30px;
    display: inline-block;
    font: 18px/22px 'robotolight';
    color: #585858;
    text-transform: uppercase;
    border: 1px solid #585858;
    border-radius: 3px;
}

.work-block a:HOVER {
    color: #19478e;
    border-color: #19478e;
    text-decoration: none;
}

.work-block .row {
    margin-top: 50px;
}

.work-block .line {
    height: 200px;
    width: 1px;
    background: #d2d4d5;
    float: left;
}

.work-block > .row > .col-sm-6:FIRST-CHILD {
    width: 49.5%;
}

.use-block {
    margin-bottom: 90px;
    text-align: center;
}

.use-block h1 {
    margin-bottom: 58px;
}

.use-block img {
    margin: 0px auto;
    text-align: center;
}

.use-block h6 {
    margin: 25px 0px 12px 0px;
    font: 26px/30px 'robotoregular';
    color: #424242;
}

.use-block p {
    margin: 0px;
    font: 17px/24px 'robotolight';
    color: #424242;
}

footer {
    padding: 50px 0px;
    background: #f2f2f2;
    text-align: center;
}

ul.footer-nav {
    margin: 0px 0px 18px 0px;
    padding: 0px;
    list-style: none;
}

ul.footer-nav li {
    display: inline-block;
}

ul.footer-nav li a {
    padding: 0px 20px;
    font: 16px/34px 'robotolight';
    color: #666666;
    border-right: 1px solid #666666;
}

ul.footer-nav li a:HOVER,
ul.footer-nav li a.active {
    color: #19478e;
    text-decoration: none;
}

ul.footer-nav li:last-child a {
    border: 0px;
}

p.copyright-text {
    margin: 0px;
    font: 15px/25px 'robotolight';
    color: #666666;
}

p.copyright-text a {
    color: #666666;
}

#searchbar {
    display: none;
    float: left;
    width: 100%;
    height: 62px;
    border-bottom: 1px solid #d8d8d8;
    padding-left: 25px;
    padding-right: 25px;
    z-index: 9999;
    background: #fff;
}

#s {
    display: block;
    width: 88%;
    border: 0px;
    outline: none;
    padding: 0;
    height: 60px;
    font: 26px/30px 'robotoregular';
    color: #424242;
}

#searchsubmit {
    display: block;
    float: right;
    margin-top: 14px;
    background: none;
    color: #424242;
    border: 0px;
    outline: none;
    cursor: pointer;
}

.btn-scroll-to-top {
    background-color: transparent;
    display: none;
    position: fixed;
    bottom: 20px;
    right: 35px;
    padding: 5px;
    font-size: 44px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
}

.btn-scroll-to-top i {
    color: #295396;
}

nav.innerpage-navigation {
    border-bottom: 1px solid #e5e5e5;
}

.about-block {
    margin-top: 80px;
}

.about-block p {
    margin: 35px 0px 85px 0px;
    font: 18px/28px 'robotolight';
    color: #424242;
    text-align: center;
}

.about-text-block {
    margin-bottom: 60px;
    display: block;
    min-height: 110px;
    vertical-align: middle;
}

.about-text-block p {
    margin: 0px;
    font: 18px/28px 'robotolight';
    color: #424242;
}

.about-text-block .col-sm-2 {
    padding: 0px;
}

.about-text-block img {
    margin: 0px auto;
}

#map {
    margin-bottom: 68px;
    min-height: 450px;
}

.address-block {
    margin: 0px 0px 60px 0px;
}

h2.contact-heading {
    margin: 0px 0px 30px 0px;
    color: #424242;
    font: 44px/55px 'robotolight';
}

ul.contact-address {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

ul.contact-address li {
    margin: 0px 0px 50px 0px;
    padding-left: 70px;
}

ul.contact-address li h6 {
    margin: 0px 0px 4px 0px;
    font: 28px/32px 'robotoregular';
    color: #19478e;
    text-transform: uppercase;
}

ul.contact-address li a {
    margin:;
    font: 20px/28px 'robotolight';
    color: #666666;
}

ul.contact-address li.mail {
    background: url("../images/mail-icon.png") no-repeat left top;
}

ul.contact-address li.call {
    background: url("../images/call-icon.png") no-repeat left top;
}

.contact-form .form-control {
    font-family: 'robotolight';
}

.contact-form button {
    padding: 12px 40px;
    background: #19478e;
    color: #ffffff;
    font: 22px/32px 'robotoregular';
    text-transform: uppercase;
    border: 0px;
    border-radius: 1px;
}

.signup-block {
    margin: 80px 0px;
}

.signup-text h1 {
    margin: 0px 0px 35px 0px;
    font: 40px/55px 'robotolight';
    color: #424242;
}

ul.signup-list {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

ul.signup-list li {
    margin: 0px 0px 40px 0px;
}

ul.signup-list li p {
    margin: 0px;
    font: 17px/26px 'robotolight';
    color: #424242;
}

ul.signup-list li .col-sm-10 {
    padding-left: 0px;
}

ul.signup-tab {
    margin-bottom: 35px;
    border-color: #b4b4b4;
}

ul.signup-tab li a {
    padding: 18px 30px;
    background: #e7e7e7;
    border-radius: 0px;
    font: 20px/26px 'robotoregular';
    color: #424242;
    text-transform: uppercase;
}

ul.signup-tab li.active a {
    background: #19478e !important;
    border-color: transparent !important;
    color: #fff !important;
}

.signup-form label {
    margin: 0px 0px 10px 0px;
    font: 18px/28px 'robotolight';
    color: #7c7c7c;
}

.signup-form .form-control {
    height: 50px;
}

.signup-form button {
    margin: 10px 0px 25px 0px;
    padding: 10px 22px;
    font: 20px/26px 'robotoregular';
    color: #ffffff;
    background: #19478e;
    border: 0px;
    border-radius: 2px;
    text-transform: uppercase;
}

.signup-form p, .signup-form p a {
    color: #7c7c7c;
    font: 20px/26px 'robotolight';
}

.signup-form p a:HOVER {
    color: #19478e;
    text-decoration: none;
}

.signup-form .checkbox-inline {
    font: 18px/28px "robotolight";
    color: #7c7c7c;
}

.facility-post-job-form {
    margin: 80px 0px 65px 0px;
}

.facility-post-job-form .form-group label {
    margin: 0px 0px 15px 0px;
    color: #424242;
    font: 18px/24px 'robotolight';
}

.datepicker-inline {
    border: 1px solid #b7b7b7;
    border-radius: 0px !important;
}

.sandbox-container input[type="text"] {
    background: url("../images/datepicker.png") no-repeat right 10px center;
}

.timepicker input[type="text"] {
    background: url("../images/time.png") no-repeat right 10px center;
}

.facility-post-job-form button {
    margin: 10px 0px 25px 0px;
    padding: 10px 22px;
    font: 20px/26px 'robotoregular';
    color: #ffffff;
    background: #19478e;
    border: 0px;
    border-radius: 2px;
    text-transform: uppercase;
}

.bootstrap-timepicker-widget.dropdown-menu {
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.facility-post-job-form .form-group label.radio-inline {
    margin-right: 14px;
}

input[type="search"] {
    font-size: 17px !important;
    color: #666666 !important;
}

.dob-divider img {
    margin: 12px auto 0px;
}

.drive-license-upload {
    position: relative;
}

.drive-license-upload .dropify-wrapper {
    border: 1px solid #b5b5b5;
    border-radius: 4px;
    display: block;
    width: 30%;
    float: left;
}

.drive-license-upload img.upload-btn {
    background: #f5f5f5;
    border-radius: 4px;
    left: 9%;
    padding: 10px 30px;
    position: absolute;
    top: 38%;
}

a#file-upload img {
    height: 216px;
    object-fit: cover;
    width: 216px;
    min-height: 200px;
}

.profile-driving-lic {
    height: 216px;
    min-height: 200px;
    object-fit: cover;
    width: 216px;
}

.user-qualification p span {
    color: #949494;
}

.login-detail {
    padding: 75px 0px 100px 0px;
}

h1.login-heading {
    margin: 0px 0px 50px 0px;
    font: 50px/55px 'robotolight';
    color: #424242;
}

.login-block {
    border-right: 1px solid #c5c5c5;
}

.login-block img {
    margin: 0px auto 30px;
}

.login-block a {
    margin-top: 30px;
    padding: 12px 38px;
    background: #19478e;
    color: #ffffff;
    font: 20px/26px 'robotoregular';
    border-radius: 2px;
    display: inline-block;
    text-transform: uppercase;
}

.login-block a:HOVER {
    background: #e6e6e6;
    color: #333333;
}

.facility-login-img {
    margin-bottom: 70px !important;
}

.login-form-block {
    padding: 85px 0px 110px 0px;
}

h6.login-heading {
    margin: 0px 0px 60px 0px;
    color: #424242;
}

.login-form .form-group {
    margin-bottom: 26px;
}

.login-form label {
    margin-bottom: 10px;
    font: 18px/22px 'robotolight';
    color: #7c7c7c;
}

.login-btn button {
    padding: 12px 35px;
    border: 0px;
    background: #19478e;
    color: #ffffff;
    font: 20px/26px 'robotoregular';
    border-radius: 2px;
    float: left;
}

.login-btn button:HOVER {
    background: #e6e6e6;
    color: #333333;
}

.login-btn a {
    margin: 14px 0px 0px 0px;
    float: right;
    font: 18px/22px 'robotolight';
    color: #7c7c7c;
}

.login-btn {
    margin-top: 45px;
}

/* ****************************************** Media Query ****************************************** */

@media (min-width: 1200px) {
}

@media (min-width: 1440px) and ( max-width: 1680px) {
    .carousel-caption {
        left: 13% !important;
        right: 13% !important;
    }
}

@media (min-width: 1200px) and ( max-width: 1440px) {
    .carousel-caption {
        left: 3% !important;
        right: 3% !important;
    }

    .carousel-indicators {
        bottom: 0px !important;
    }

    .carousel-caption {
        bottom: 0px !important;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .carousel-caption {
        left: 3% !important;
        right: 3% !important;
    }

    .carousel-indicators {
        bottom: 0px;
    }

    .about-text-block {
        margin-bottom: 40px;
        min-height: 140px;
    }

    .about-text-block p {
        padding: 0px !important;
    }

    ul.contact-address li {
        padding-left: 60px;
    }

    ul.contact-address li h6 {
        margin: 0px;
        font: 25px/32px "robotoregular";
    }

    .carousel-indicators {
        bottom: 0px !important;
    }

    .carousel-indicators li,
    .carousel-indicators .active {
        width: 6px !important;
        height: 6px !important;
    }

    .carousel-caption {
        bottom: 0px !important;
        padding-top: 0px !important;
    }

    button.contractor-btn, button.faculty-btn {
        font-size: 15px;
        line-height: 18px;
        padding: 12px 16px;
    }

    .user-detail .user-text {
        margin-left: 20px;
    }

    .user-detail .user-text h6 {
        font-size: 30px;
    }

    .user-plan button {
        margin-left: 10px;
        padding: 12px 22px;
        font-size: 16px;
    }

    .request-btn button {
        font-size: 15px;
    }

    .line-height-25 {
        line-height: 26px !important;
    }

}

@media (min-width: 768px) and (max-width: 991px) {
    .navbar-brand {
        padding: 17px 0px 12px 15px !important;
    }

    .navbar-brand img {
        max-width: 85%;
    }

    ul.footer-nav li a {
        padding: 0px 12px;
        font-size: 14px;
    }

    .carousel-caption {
        left: 3% !important;
        right: 3% !important;
    }

    .carousel-indicators {
        bottom: 0px !important;
    }

    .about-text-block {
        margin-bottom: 40px;
        min-height: 166px;
    }

    .about-text-block p {
        padding: 0px !important;
    }

    h2.contact-heading {
        font-size: 35px;
        line-height: 45px;
    }

    ul.contact-address li h6 {
        margin: 0px;
        font: 18px/26px "robotoregular";
    }

    ul.contact-address li {
        padding-left: 55px;
    }

    ul.contact-address li a {
        font-size: 18px;
        line-height: 28px;
    }

    .carousel-indicators li,
    .carousel-indicators .active {
        width: 6px !important;
        height: 6px !important;
    }

    .carousel-caption {
        bottom: 0px !important;
        padding-top: 0px !important;
    }

    button.contractor-btn, button.faculty-btn {
        font-size: 13px;
        line-height: 15px;
        padding: 10px 15px;
    }

    ul.signup-tab li a {
        padding: 13px 24px;
        font-size: 18px;
    }

    .signup-text h1 {
        margin-bottom: 20px;
        font-size: 30px;
    }

    .navbar-default ul.nav li.user-menu a img {
        margin: 0px 3px 0px 3px;
        width: 20%;
    }

    .navbar-default ul.nav li:last-child {
        margin: 0px;
    }

    .navbar-default ul.nav li a {
        padding-left: 6px;
        padding-right: 6px;
        font-size: 15px;
    }

    .navbar-default ul.nav li.user-menu a p {
        font-size: 14px;
        line-height: 18px;
        width: 152px;
        overflow-wrap: break-word;
    }

    .navbar-default ul.nav li.user-menu a {
        padding-top: 22px;
        padding-right: 0px;
        padding-left: 0px;
    }

    .user-detail .user-text {
        margin-left: 10px;
    }

    .user-detail .user-text p {
        font-size: 17px;
        line-height: 22px;
    }

    .user-detail .user-text h6 {
        font-size: 21px;
        line-height: 28px;
    }

    .user-plan button {
        margin-left: 4px;
        padding: 9px 12px;
        font-size: 14px;
        line-height: 22px;
    }

    .active-user-history-detail img {
        float: none;
        margin: 0px auto 15px;
    }

    .history-user-info p {
        font-size: 15px;
    }

    .history-user-info .user-location img {
        margin-right: 5px;
    }

    .active-user-history-detail .history-user-info {
        margin-bottom: 25px;
    }

    .pending-user-list .active-user-history-detail img {
        float: left;
    }

    .request-btn button {
        font-size: 15px;
    }

    .favorite-user-likes .rating-count {
        margin: 0px 0px 0px 12px;
    }

    .likes:not(:checked) > label {
        margin-right: 15px;
    }

    .favorite-user-action .request-btn button {
        padding: 5px 10px;
        margin-left: 1px;
        font-size: 12px;
    }

    .user-profile-img output#list1 {
        width: 180px;
        height: 180px;
    }

    .user-profile-overview h6 {
        font-size: 22px;
        line-height: 26px;
    }

    .panel-heading {
        padding: 10px 12px;
    }

    h4.panel-title a {
        font-size: 17px;
    }

    #accordion .panel-default .panel-body {
        width: 85%;
    }

    .input-group-addon {
        font-size: 12px;
        padding: 6px 8px;
    }

    .panel-default .form-control {
        padding: 5px 6px;
    }

    .table > thead > tr > th {
        padding: 18px 10px !important;
    }

    .table > tbody > tr > td {
        padding: 18px 10px !important;
    }

    h6.login-heading {
        margin-bottom: 35px;
        font-size: 35px;
    }

    .login-btn button {
        padding: 8px 20px;
        font-size: 16px;
    }

    .login-btn a {
        margin-top: 10px;
        font-size: 14px;
    }

    .user-profile-img img.profile-pic {
        min-width: 180px;
        min-height: 180px;
    }

    .user-profile-img {
        width: 180px !important;
        height: 180px !important;
    }

    .profile-ssn #SSNArea, .profile-ssn #SSNSerial, .profile-ssn #SSNGroup {
        width: 110px;
    }

    .line-height-25 {
        line-height: 26px !important;
    }

}
.mobile-visibility {
    display: none;
}
.desktop-visibility {
    display: block;
}
@media (max-width: 767px) {
    .mobile-visibility {
        display: block;
        padding-bottom: 15px;
    }
    .mobile-visibility > button {
        margin-left: 15px;
    }

    .desktop-visibility {
        display: none;
    }
    .navbar-brand {
        padding: 18px 0px 12px 15px !important;
    }

    .navbar-brand img {
        max-width: 85%;
    }

    .navbar-toggle {
        margin-top: 26px !important;
    }

    .navbar-default ul.nav li a {
        line-height: 22px;
    }

    .SearchBox {
        margin: 12px auto 15px 15px;
    }

    .carousel-indicators {
        bottom: -8px !important;
    }

    button.contractor-btn, button.faculty-btn {
        margin-left: 0px;
        margin-bottom: 4px;
        font-size: 10px;
        line-height: 14px;
        padding: 5px 9px;
    }

    .carousel-caption {
        text-align: right !important;
    }

    h1.heading {
        margin-bottom: 18px;
        font-size: 36px;
        line-height: 48px;
    }

    .welcome-block {
        margin: 30px 0px 40px 0px;
    }

    .welcome-block p {
        font-size: 16px;
    }

    .work-block, .use-block p {
        margin-bottom: 30px;
    }

    .work-block .row {
        margin-top: 30px;
    }

    .work-block > .row > .col-sm-6:first-child {
        width: 100%;
    }

    .work-block a {
        margin: 16px 0px 50px;
    }

    .use-block h6 {
        margin-top: 16px;
    }

    .carousel-caption {
        left: 40% !important;
        right: 4% !important;
    }

    .about-text-block p {
        padding-top: 16px !important;
        text-align: center;
    }

    h2.contact-heading {
        font-size: 34px;
        line-height: 44px;
    }

    .carousel-indicators li,
    .carousel-indicators .active {
        width: 6px !important;
        height: 6px !important;
    }

    .carousel-caption {
        bottom: 0px !important;
        padding-bottom: 10px !important;
        padding-top: 0px !important;
    }

    ul.signup-tab li a {
        padding: 15px 20px;
    }

    .signup-text {
        margin-top: 30px;
    }

    .signup-text h1 {
        margin-bottom: 20px;
        font-size: 30px;
    }

    ul.signup-list li .col-sm-10 {
        padding-left: 15px;
        text-align: center;
    }

    ul.signup-list li img {
        margin: 0px auto;
    }

    ul.footer-nav li {
        display: block;
    }

    ul.footer-nav li a {
        border: 0px;
    }

    .navbar-default ul.nav li.alert-menu a span {
        right: auto;
        left: 30px;
        bottom: 25px;
    }

    .navbar-default ul.nav li.user-menu a {
        padding-top: 10px;
        padding-bottom: 10px;
        line-height: 40px;
    }

    .user-plan .user-detail {
        display: block;
        overflow: hidden;
    }

    .user-detail .user-text {
        margin: 10px 0 0 15px;
    }

    .user-detail .user-text h6 {
        font-size: 18px;
        line-height: 32px;
    }

    .user-plan .text-right {
        text-align: center !important;
    }

    .user-plan button {
        margin-left: 0px;
        padding: 10px 12px;
        font-size: 13px;
        line-height: 18px;
    }

    .user-detail .user-text p {
        font-size: 15px;
        line-height: 22px;
    }

    ul.dashboard-tab li a {
        font-size: 14px;
        line-height: 22px;
        padding: 10px 14px;
    }

    .active-user-history-detail img {
        margin-right: 10px;
    }

    .pending-user-datail .text-right {
        text-align: left;
    }

    .navbar-default ul.nav li {
        margin: 0px;
        border-bottom: 1px solid #b7b7b7;
    }

    .navbar-default ul.nav li:last-child {
        border: 0px;
    }

    .navbar-default ul.nav li.user-menu a p {
        margin: 0px;
        line-height: 32px;
        text-align: left;
        width: 125px;
    }

    .navbar-default ul.nav li.user-menu a img {
        width: 10%;
        margin-top: 3px;
        margin-left: 12px;
        height: auto;
    }

    .navbar-default ul.nav li ul.dropdown-menu {
        position: relative;
    }

    .navbar-default ul.nav li ul.dropdown-menu li a {
        padding-left: 40px;
    }

    .navbar-default ul.nav li.user-menu a {
        padding-top: 5px;
        padding-bottom: 0px;
    }

    .navbar-nav .open .dropdown-menu {
        width: 100%;
    }

    .SearchBox {
        width: 8px auto 8px 15px;
    }

    .navbar-default ul.nav li a img {
        margin-top: 5px;
    }

    .likes {
        float: right;
    }

    .user-profile-overview h6 {
        font-size: 25px;
    }

    .facility-profile-banner .custom-file-input::before {
        top: 20px;
        bottom: auto;
    }

    .user-info .custom-file-input::before {
        width: 130px;
    }

    .user-rating {
        text-align: left;
    }

    .user-rating .rating-count {
        float: left;
        margin: 0px 6px 0px 0px;
    }

    .user-rating .rating {
        float: left;
    }

    .user-profile-detail h6 {
        font-size: 27px;
    }

    .mobile-view {
        margin: -75px 0px 10px 0px;
    }

    .user-profile-detail > .about-user > h6 {
        font-size: 32px;
        margin: 30px 0px 8px 0px;
    }

    .modal-footer button {
        margin: 4px 0px !important;
        width: 100%;
    }

    .search-user-detail p.hourly-price,
    .search-user-detail .request-btn {
        text-align: right;
    }

    .facility-profile-banner > #file-upload > img {
        bottom: auto;
        top: 14px;
    }

    .table > thead > tr > th {
        padding: 18px 26px !important;
        font-size: 17px !important;
    }

    .table > tbody > tr > td {
        padding: 18px 26px !important;
    }

    .login-detail {
        padding-top: 45px;
    }

    h1.login-heading {
        margin: 30px 0px;
    }

    .login-block {
        border: 0px;
    }

    .facility-login-img {
        margin-bottom: 22px !important;
    }

    .login-detail .text-center:first-child {
        border-bottom: 1px solid #b5b5b5;
        padding-bottom: 45px;
    }

    .login-btn a {
        font-size: 16px;
    }

    .login-btn button {
        padding: 10px 25px;
        font-size: 18px;
    }

    .facility-login-form {
        margin-bottom: 20px;
        padding-bottom: 30px;
        border-bottom: 1px solid #b5b5b5;
    }

    .facility-view-action > .favorite-user-likes > .rating-count {
        float: left;
        margin: 0px;
    }

    .small-select-style {
        width: 100%;
    }

    .user-profile-img {
        width: 150px !important;
        height: 150px !important;
    }

    .user-profile-img img.profile-pic {
        min-width: 150px !important;
        min-height: 150px !important;
        object-fit: cover !important;
    }

    .user-profile-detail {
        margin-top: 30px;
    }

    img#coverPicImage {
        min-height: 250px;
    }
}

@media (min-width: 480px) and (max-width: 640px) {
    .navbar-default ul.nav li.user-menu a img {
        width: 5%;
    }
}

/**************************** Developer ***************************************/

.innerpage-navigation {
    background-color: #354aa4 !important;
    color: white;
}

.navbar-default ul.nav li a:HOVER, .navbar-default ul.nav li a.active, .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #ffffff !important;
}

.navbar-default ul.nav li a:HOVER, .navbar-default ul.nav li a.active {
    font-weight: bold;
}

.navbar-default ul.nav li a {
    color: #ffffff !important;
}

.logo-text {
    width: 177px;
    height: 29px;
    font-family: 'Panton';
    font-size: 28.8px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 4px;
    color: #ffffff;
}

.rectangle-2 {
    width: 160px;
    height: 48px;
    border-radius: 4px;
    background-color: #ff6b64;
    padding: 15px 30px;
}

.signup-btn {
    padding-left: 15px;
}

.signup-btn > .rectangle-2 {
    padding: 15px 50px;
}

.login-form label {
    font: 14px/20px 'robotolight'
}

.login-btn > button {
    width: 100%;
}
.navbar-default .navbar-toggle {
    background-color: #ffffff;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #ffffff;
}
.tabs > .login-tabs > ul > li {
    color: #90a4ae !important;
    font-size: 16px;
}
.login-tabs > li > .active {
    width: 64px;
    height: 2px;
    border-bottom: solid 2px #354aa4;
    color: #354aa4;
}
.login-tabs > li > a {
    color: #90a4ae;
}
.login-tabs > li {
    padding: 15px 30px;
    font-size: 16px;
    margin: 15px 30px;
}
.login-tabs ul li a.active {
    color: #354aa4 !important;
    font-size: 16px;
}
.login-heading {
    font-size: 36px !important;
    font-weight: 900 !important;
    color: #354aa4 !important;
}

/*-----------Added from external css-----------*/
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

html, body, div, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, ol, ul, li, form, legend, label, table, header, footer, nav, section, figure {
  margin: 0;
  padding: 0;
  font-family: 'Crimson Text', serif;
}

header, footer, nav, section, article, hgroup, figure {
  display: block;
}

body {
  font-family: 'Crimson Text', serif;
  font-size: 100%;
  line-height: 1.5;
  padding-top:82px;
  font-weight: 400;
}

.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}

.container:after {
  content: "";
  display: table;
  clear: both;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  max-width: 1200px;
}

/*******************Full screen background image*********************/
.hero {
  background: url('../images/home-bg.jpg');
  background-size: cover;
  width: 100%;
  height: 100%;
  position: relative;
  background-position: center top;
}

/*
Blueish tint overlay
*/
/* .hero:after {
  content: '';
  background: rgba(0, 0, 64, 0.5);
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
} */

/*
Making sure everything in .hero sits above our :after elements
*/
.hero * {
  /*position: relative;*/
  z-index: 1;
}

#masthead {
  padding: 12px 0 5px;
  /*position: relative; */
  background: #f2673a;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;
}

#masthead.is-active {
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
}

/*
Using this method because browsers can transition opacity very cheaply as opposed to using background: rgba
https://www.html5rocks.com/en/tutorials/speed/high-performance-animations/
*/
#masthead:after {
  content: '';
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  /* background-color: #fff; */
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

#masthead.is-active:after {
  opacity: 1;
}

/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
.hamburger {
  background-color: transparent;
  border: 0;
  color: inherit;
  cursor: pointer;
  display: inline-block;
  float: right;
  font: inherit;
  margin: 18px 0 0;
  overflow: visible;
  outline: none;
  padding: 0;
  text-transform: none;
  -webkit-transition: opacity 0.15s;
  -o-transition: opacity 0.15s;
  transition: opacity 0.15s;
  -webkit-appearance: none;
}

.hamburger:hover {
  opacity: 0.7;
}

.hamburger-box {
  width: 30px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  width: 30px;
  height: 4px;
  background-color: #fff;
  border-radius: 4px;
  position: absolute;
  transition-property: -webkit-transform;
  -webkit-transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.15s;
  -o-transition-duration: 0.15s;
  transition-duration: 0.15s;
  -webkit-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
}

#masthead.is-active .hamburger-inner,
#masthead.is-active .hamburger-inner::before,
#masthead.is-active .hamburger-inner::after {
  background-color: #000;
}

.hamburger-inner::before,
.hamburger-inner::after {
  content: "";
  display: block;
}

.hamburger-inner::before {
  top: -8px;
}

.hamburger-inner::after {
  bottom: -8px;
}

/*
 * Boring
 */
.hamburger--boring .hamburger-inner,
.hamburger--boring .hamburger-inner::before,
.hamburger--boring .hamburger-inner::after {
  -webkit-transition-property: none;
  -o-transition-property: none;
  transition-property: none;
}

.hamburger--boring.is-active .hamburger-inner {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.hamburger--boring.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
}

.hamburger--boring.is-active .hamburger-inner::after {
  bottom: 0;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.hamburger-label {
  color: #fff;
  display: inline-block;
  font-weight: 700;
  letter-spacing: 0.08em;
  line-height: 1;
  margin-left: 0.3125em;
  text-transform: uppercase;
}

#masthead.is-active .hamburger-label {
  color: #000;
}

.hamburger-box,
.hamburger-label {
  display: inline-block;
  vertical-align: middle;
}

#site-nav ul {
  clear: both;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  height: 0;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  overflow: hidden;
  /* padding-top: 2.5em; */
}

#site-nav.is-active ul{
  height: auto;
  overflow: visible;
  padding-top: 0em;
  margin-top: 0em;
}

#site-nav .col {
  padding-bottom:1.5em;
}
#site-nav li.active a {
  color: #000;
}
#site-nav li.active a:hover, #site-nav li.active a:focus{
  color: #333;
}

@media screen and (min-width: 550px) {
  #site-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  #site-nav .col {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    min-width: 50%;
  }
}


@media screen and (min-width: 768px) {
  #site-nav .col {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.333333333%;
    flex: 0 0 33.333333333%;
    min-width: 33.333333333%;
  }
}

@media screen and (min-width: 960px) {
  #site-nav {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }

  #site-nav .col {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    min-width: 20%;
  }

  #site-nav .col:last-child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
}

#site-nav h4 {
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

#site-nav ul {
  list-style-type: none;
  /* margin-top: 1em; */
}

#site-nav li {
  margin-bottom: 0.3125em;
  text-align: center;
  padding: 0 20px;
}

#site-nav li a {
  color: #fff;
  text-decoration: none;
  -webkit-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;
  font-size: 20px;
}

#site-nav li a:hover,
#site-nav li a:focus {
  color: #ddd;
}

#site-nav .social {
  margin: 0;
  overflow: hidden;
}

#site-nav .social li {
  float: left;
  margin: 0 0.3125em;
  width: 32px;
  height: 32px;
}

#site-nav .social li svg {
  display: block;
  fill: #b4b9ba;
  width: 100%;
  height: 100%;
  -webkit-transition: fill 0.3s ease;
  -o-transition: fill 0.3s ease;
  transition: fill 0.3s ease;
}

#site-nav .social li:hover svg {
  fill: #686d6e;
}

#masthead-search {
  float: right;
  margin-top: 0.625em;
  width: 100%;
  max-width: 14em;
  position: relative;
  -webkit-appearance: none;
}

#masthead-search input {
  background: transparent;
  border: none;
  border-color: #fff;
  border-style: solid;
  border-width: 1px;
  border-radius: 50px;
  outline: none;
  width: 100%;
  padding: 0.75em 1.125em;
  -webkit-transition: border-color 0.3s ease;
  -o-transition: border-color 0.3s ease;
  transition: border-color 0.3s ease;
  -webkit-appearance: none;
}

#masthead-search button {
  background: none;
  border: none;
  color: #fff;
  font-size: 1em;
  padding: 0;
  position: absolute;
  top: 50%;
  right: 0.75em;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-appearance: none;
}

#masthead.is-active #masthead-search button {
  color: #b4b9ba;
}

#masthead.is-active #masthead-search input {
  border-color: #b4b9ba;
}

#masthead-search ::-webkit-input-placeholder {
  color:    #fff;
}

#masthead-search :-moz-placeholder {
  color:    #fff;
  opacity:  1;
}

#masthead-search ::-moz-placeholder {
  color:    #fff;
  opacity:  1;
}

#masthead-search :-ms-input-placeholder {
  color:    #fff;
}

#masthead.is-active #masthead-search ::-webkit-input-placeholder {
  color:    #b4b9ba;
}

#masthead.is-active #masthead-search :-moz-placeholder {
  color:    #b4b9ba;
  opacity:  1;
}

#masthead.is-active #masthead-search ::-moz-placeholder {
  color:    #b4b9ba;
  opacity:  1;
}

#masthead.is-active #masthead-search :-ms-input-placeholder {
  color: #b4b9ba
}

#masthead .col-anim {
  opacity: 0;
}

#masthead.is-active .col-anim {
  -webkit-transform: translateY(40px);
  -ms-transform: translateY(40px);
  transform: translateY(40px);
  -webkit-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  -webkit-animation: fade-in-stagger 0.8s ease forwards;
  animation: fade-in-stagger 0.8s ease forwards;
}

#masthead.is-active .col-anim:nth-child(1) {
  -webkit-animation-delay: 0;
}

#masthead.is-active .col-anim:nth-child(2) {
  -webkit-animation-delay: 0.1s;
}

#masthead.is-active .col-anim:nth-child(3) {
  -webkit-animation-delay: 0.2s;
}

#masthead.is-active .col-anim:nth-child(4) {
  -webkit-animation-delay: 0.3s;
}

#masthead.is-active .col-anim:nth-child(5) {
  -webkit-animation-delay: 0.4s;
}

@-webkit-keyframes fade-in-stagger {
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes fade-in-stagger {
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
.text-block {
  text-align: center;
  width: 90%;
  position: absolute;
  bottom: 15%;
  padding: 0 50px;
  background:rgba(0, 0, 0, 0.5);
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
.text-block h3{
  color: #fff;
  font-weight: 500;
}
.logo-block {
  display: inline-block;
}
.logo-block img {
  height: 60px;
}
.text-center{
  text-align: center;
}
.text-container {
  padding: 20px 0;
}
.iframe-block iframe{
  width: 100%;
  height: 900px;
  border: none;
}
.text-container p{
  font-size: 20px;
  color:#555;
}
#masthead:after{
  content: none;
}
.tandp p{
  font-size: 16px;
  margin-bottom: 15px;
  color:#555;
}
.tandp h2{
  /* margin-bottom: 20px; */
}
.tandp h3{
  margin-bottom: 10px;
  margin-top: 20px;
  font-weight: 500;

}
.tandp ul{
  margin-left: 30px;
}
.mtb{
  margin-top: 30px;
  margin-bottom: 30px;
}
.tandp ul a {
  color: #333;
  text-decoration: none;
  font-size: 16px;
}
.tandp ul a:hover{
  color:#f2673a;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #eee;
  color: #000;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  position: relative;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.accordion.active, .accordion:hover {
  background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */

.panel {

  background-color: #f5f5f5;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.2s ease-out;
  -o-transition: max-height 0.2s ease-out;
  transition: max-height 0.2s ease-out;
}
.panel-content{
  padding: 20px;
}
.accordion:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: #333;
  float: right;
  margin-left: 5px;
  position: absolute;
  right: 18px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.accordion.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}
.accordion-block {
  margin-bottom: 8px;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 9999;
  border: none;
  outline: none;
  background-color: #f2673a;
  color: white;
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;
  font-size: 16px;
}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}

.text-container h2{
  color: #7e6c2a;
  font-size: 60px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 3px;
  padding: 30px 0px 10px 0px;
  line-height: 1;
}

footer {
  background: #f2673a;
  text-align: center;
}
footer p{
  line-height: 1;
  color: #fff;
  padding: 20px 0;
}
footer p a{
  color: #000;
  text-decoration: none;
}
footer p a:hover{
  color: #fff;
}
/* .main-content.tandp {
  min-height: calc(100vh - 138px);
} */
.main{
  height: 100%;
}
.main-content.tandp {
  min-height: calc(100% - 56px);
}
@media screen and (max-width: 992px) {
  .text-container h2{
    font-size: 45px;
  }
}
@media screen and (max-width: 767px) {
  #site-nav ul{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .text-block{
    padding: 0 10px;
  }
  .iframe-block iframe{
    height: 800px;
  }
  .text-container h2{
    font-size: 30px;
  }
  footer p {
    padding: 20px 50px;
  }
  .main-content.tandp {
    min-height: calc(100% - 48px);
  }

}

@media screen and (max-width: 320px) {
  .logo-block img {
    height: 50px;
  }
}
.text-container > h3 {
    font-size: 18.72px;
    line-height: 10.2px;
}
.main-content > .container {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    max-width: 1200px;
}
#masthead > .container {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    max-width: 1200px;
}
.main-content > .container > .text-container > p {
    margin: 0 0 0px;
}
/*special CSS for Login Page */
.sperror{
	color:white !important;
	}
	.LoginButton{
		background-color: #f2673a  !important;
	color: #ffffff  !important;
	font-weight: 600  !important;
	text-transform: uppercase  !important;
	border-style: solid  !important;
	border-width: 2px 2px 2px 2px  !important;
	border-radius: 4px 4px 4px 4px  !important;
	padding: 0px 40px 0px 40px;
	border-color:#ffffff  !important;
	min-height:40px  !important;
	}
	.LoginButton:hover{
		color: #f2673a  !important;
		border-color: #ffffff  !important;
		background-color: #ffffff  !important;
		}
		
		.SignUPButton{
		background-color: #f2673a  !important;
	color: #ffffff  !important;
	font-weight: 600  !important;
	text-transform: uppercase  !important;
	border-style: solid  !important;
	border-width: 2px 2px 2px 2px  !important;
	border-radius: 4px 4px 4px 4px  !important;
	padding: 0px 40px 0px 40px  !important;
	border-color:#f2673a  !important;
	min-height:40px  !important;
	}
	.SignUPButton:hover{
		color: #f2673a  !important;
		border-color: #f2673a  !important;
		background-color: #ffffff  !important;
		}
		
	#breadcrumbs {color:#d5d5d5;}
	#breadcrumbs a{color:#d5d5d5;letter-spacing: 1px;font-size:17px}
	#breadcrumbs a:active{color:#d5d5d5; letter-spacing: 1px;}
	#breadcrumbs a:hover{color:#d5d5d5 !important; letter-spacing: 1px;}
		